footer nav{
    justify-content:space-evenly;
      background: #1a1a1a; 
      width: 100%;
      padding: 10px 10%; 
      display: flex;
      align-items: center; 
      position: fixed; 
      bottom: 0;
}

span a{
    position:relative; 
    left: 120px; 
    font-size: x-large; 
    font-weight: bold; 
    bottom: 6px;
}
a{
    color: burlywood;
}